## Tuples

### Creating tuple

In [2]:
# empty
t1 = ()
print(type(t1))

# single item note: after the value add comma, because with that they can treat as tuble
not_tuple = ('hello')
t2 = ('hello',) # correct syntax
print(type(t2))

# homogenious typle - mean all elements are same
t3 = (1,2,3,4,5,6,7)

# hetrogenious tuple - different elements data type
t4 = (1,2,3,True,(5,6))

# type conversion
t5 = tuple('hello')
print(t5)

<class 'tuple'>
<class 'tuple'>
('h', 'e', 'l', 'l', 'o')

### Accessing Items

In [5]:
# Indexing
tuple = (1,2,3,4,5,6,7,8)
print(tuple[0])
print(tuple[2])

# Slicing
print(tuple[2:5])

print(tuple[::-1])

1
3
(3, 4, 5)
(8, 7, 6, 5, 4, 3, 2, 1)

In [6]:
# 2d tupple access
t2d = (1,2,3,(4,5,6))
t2d[3][1]

5

### Editing items

In [7]:
# note: tuple are immutable we can change after creating tuple
t2d[3][1] = 10

TypeError: 'tuple' object does not support item assignment

In [8]:
# Adding items
print(t3)
# not possible

(1, 2, 3, 4, 5, 6, 7)

### Deleting items

In [9]:
# we cant delete single item from tuple but we can delete hole tuple
del t3

In [10]:
del t2d[3][1]

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

In [12]:
# + and *
t1 = (1,2,3)
t2 = (9,4,2)

t3 = t1 + t2
print(t3)

print(t1 * 2)

# membership
print(1 in t1)

# iteration
for i in t3:
    print(i)

(1, 2, 3, 9, 4, 2)
(1, 2, 3, 1, 2, 3)
True
1
2
3
9
4
2

### Functions

In [13]:
# len / sum / min / max / sorted / 
len(t3)

sum(t1)

min(t1)

max(t2)

sorted(t2)

[2, 4, 9]

In [15]:
# count
t3.count(2)

2

In [16]:
# index
t3.index(3)

2

In [19]:
# special syntax
a,b,c = (1,23,4)
print(a)
print(b)
print(c)

1
23
4

In [20]:
# swap using tuple
a,b = b,a
print(a, b)

23 1

In [21]:
tuple = (1,2,3,4,5,6,7,8)
a,b,*other = tuple
print(a, b)

1 2

In [25]:
# zip 
a = (1,2,3,4,5)
b = (10, 20, 30, 40, 50)

list(zip(a,b))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [28]:
tuple(zip(a,b))

TypeError: 'tuple' object is not callable

In [27]:
# typle - only read operation can apply no other

## Sets

In [29]:
# unordered
# mutable
# no duplicates
# cant contain mutable data types

### Creating

In [32]:
# empty
# s = {} 
s = set()
type(s)

# 1d set homogenious
s = {1,2,3,4,5}

# 2d set
s = {1,2,3,{4,5,6}}

TypeError: unhashable type: 'set'

In [34]:
s3 = {1,2,3,4,True,'Hello',(5,4)}
s3

{(5, 4), 1, 2, 3, 4, 'Hello'}

In [35]:
# cant have mutable items or data type
s4 = {1,2,3,4,[8,7,6], True, 'Ravi'}

TypeError: unhashable type: 'list'

In [36]:
# unorder
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accessing items

In [37]:
s1 = {1,2,3,4}
s1[0] # cant apply indeing here

TypeError: 'set' object is not subscriptable

### Edit

In [38]:
s1[0] = 100 # cant apply

TypeError: 'set' object does not support item assignment

### Add

In [39]:
# add function
s1 = {1,2,3,4,5}
s1.add(6) # add function add item at a time single
print(s1)

s1.update([7,8,9]) # add items but in the form of list or multiple can add
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Delete

In [40]:
# del only for hole set
del s1

In [44]:
# discard - del by using value, if value cant present noo through error
s1 = {1,2,3,4,5}
s1.discard(5)
s1

{1, 2, 3, 4}

In [45]:
# remove
s1.remove(2)
s1

{1, 3, 4}

In [46]:
s1.remove(5)

KeyError: 5

In [47]:
# pop - randomly delete anyone item
print(s1)
s1.pop()
print(s1)

{1, 3, 4}
{3, 4}

In [48]:
# clear
s1.clear()
s1

set()

### Set Operations

In [50]:
# union |
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
# Intersections &
s1 & s2

{4, 5}

In [52]:
s2 & s1

{4, 5}

In [53]:
# Difference - 
s1 - s2

{1, 2, 3}

In [54]:
s2 - s1

{6, 7, 8}

In [55]:
# symmetric difference
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [56]:
s2 ^ s1

{1, 2, 3, 6, 7, 8}

In [57]:
# membership
1 in s1

True

In [58]:
10 not in s1

True

In [59]:
# iteration - loops
for i in s1:
    print(i)

1
2
3
4
5

### Functions

In [60]:
len(s1)

5

In [61]:
sum(s1)

15

In [62]:
min(s1)

1

In [63]:
max(s1)

5

In [66]:
s = {2,3,1,4,7,8,10,9,5,6}
sorted(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
# union update - mean add value set1 and set2 then set1 
s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [69]:
# intersection
s1.intersection(s2)

{4, 5, 6, 7, 8}

In [72]:
s1.intersection_update(s2)
s1

{4, 5, 6, 7, 8}

In [74]:
s1.difference_update(s2)
s1

set()

In [76]:
# isdisjoint / issubset / issuperset
s1 = {1,2,3,4,5}
s2 = {3,7,4,9,10}

s1.isdisjoint(s2) # have same of different

False

In [77]:
s1.issubset(s2)

False

In [78]:
s1.issuperset(s2)

False

In [79]:
# copy
s1  = {1,2,3,4}
s2 = s1.copy()

print(id(s1))
print(id(s2))

4570794912
4570796928

### Set Comprehension

In [80]:
{i for i in range(1,10) if i > 5}

{6, 7, 8, 9}

In [81]:
{i*2 for i in range(1,10) if i > 5}

{12, 14, 16, 18}

## Dictionary

### Creating

In [83]:
# empty
d = {}

# 1d 
d1 = {'name': 'Ravi Pandey', 'gender': 'male'}
print(d1)

# with mix keys
d2 = {(1,2,3): 1,'two':'three'}
print(d2)

# 2d
d3 = {
    'name': 'Ravi',
    'college': 'Sandip University',
    'sem': 5,
    'subjects': {
        'python': 80,
        'toc': 70,
        'os': 75,
        'iwp': 90,
        'cne': 80
    }
}

print(d3)

# using dict()
d4 = dict([(1,1), (2,2), (3,4)])
d4 = dict([('name','ravi'), (2,2), (3,4)])
print(d4)

{'name': 'Ravi Pandey', 'gender': 'male'}
{(1, 2, 3): 1, 'two': 'three'}
{'name': 'Ravi', 'college': 'Sandip University', 'sem': 5, 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}}
{'name': 'ravi', 2: 2, 3: 4}

In [84]:
# mutable items as keys
d6 = {'name': 'ravi', (1,2,3):2}
d6

{'name': 'ravi', (1, 2, 3): 2}

### Accessing

In [90]:
# pass the key to get value of that
d6['name']

'ravi'

In [91]:
# or get()
d6.get('name')

'ravi'

In [99]:
# 2d
s3['subjects']['toc']

TypeError: 'set' object is not subscriptable

### Add

In [92]:
d3['gender'] = 'male'
d3

{'name': 'Ravi',
 'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80},
 'gender': 'male'}

In [94]:
d3['cast'] = 'Open'
d3

{'name': 'Ravi',
 'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80},
 'gender': 'male',
 'cast': 'Open'}

In [100]:
d3['subjects']['toc'] = 75

KeyError: 'subjects'

### Remove

In [95]:
# pop - provide the key to remove perticular vlaue from dictionary
d3.pop('cast')
d3

{'name': 'Ravi',
 'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80},
 'gender': 'male'}

In [96]:
# popitem - last key value delete
d3.popitem()
d3

{'name': 'Ravi',
 'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}}

In [97]:
# del
del d3['college']
d3

{'name': 'Ravi',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}}

In [98]:
# clear - to clear all key value from the dictunary
d3.clear()
d3

{}

### Edit key: values

In [101]:
d3 = {
    'name': 'Ravi',
    'college': 'Sandip University',
    'sem': 5,
    'subjects': {
        'python': 80,
        'toc': 70,
        'os': 75,
        'iwp': 90,
        'cne': 80
    }
}
d3

{'name': 'Ravi',
 'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}}

In [102]:
d3['name'] = 'Ravi Pandey'
d3

{'name': 'Ravi Pandey',
 'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 80, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}}

In [ ]:
d3['subjects']['python'] = 90
d3

In [104]:
# rename key
d3.pop('name')
print(d3)

d3['full name'] = 'Ravi Pandey'
d3

{'college': 'Sandip University', 'sem': 5, 'subjects': {'python': 90, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}}

{'college': 'Sandip University',
 'sem': 5,
 'subjects': {'python': 90, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80},
 'full name': 'Ravi Pandey'}

In [105]:
d3['full name']

'Ravi Pandey'

### Operations

In [110]:
# membership - work on keys

'full name' in d3

True

In [111]:
# iterations

for i in d3:
    print(i)

college
sem
subjects
full name

In [112]:
for i in d3:
    print(d3[i])

Sandip University
5
{'python': 90, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}
Ravi Pandey

In [113]:
for i in d3:
    print(i, d3[i])

college Sandip University
sem 5
subjects {'python': 90, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}
full name Ravi Pandey

### Functions

In [114]:
# len 
len(d3)

4

In [115]:
# sorted 
sorted(d3)

['college', 'full name', 'sem', 'subjects']

In [117]:
# items - shows in tuple format
d3.items()

dict_items([('college', 'Sandip University'), ('sem', 5), ('subjects', {'python': 90, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}), ('full name', 'Ravi Pandey')])

In [118]:
# keys
d3.keys()

dict_keys(['college', 'sem', 'subjects', 'full name'])

In [119]:
# values
d3.values()

dict_values(['Sandip University', 5, {'python': 90, 'toc': 70, 'os': 75, 'iwp': 90, 'cne': 80}, 'Ravi Pandey'])

In [120]:
# update
d1 = {1:2, 3:4, 5:6}
d2 = {4:2, 2:8}

d1.update(d2)
d1

{1: 2, 3: 4, 5: 6, 4: 2, 2: 8}

In [121]:
# comprehension
# { key: value for vars in iterables }

In [122]:
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [125]:
travel = {'nashik': 1600, 'pune': 2200, 'nagpur': 1800, 'mubai':600}
{place:distance*0.50 for (place, distance) in travel.items()}

{'nashik': 800.0, 'pune': 1100.0, 'nagpur': 900.0, 'mubai': 300.0}

In [129]:
# zip
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
date = [16, 17, 18, 19, 20, 21, 22]

dict(zip(days,date))

{'Sunday': 16,
 'Monday': 17,
 'Tuesday': 18,
 'Wednesday': 19,
 'Thursday': 20,
 'Friday': 21,
 'Saturday': 22}

In [130]:
{i:j for (i,j) in zip(days, date)}

{'Sunday': 16,
 'Monday': 17,
 'Tuesday': 18,
 'Wednesday': 19,
 'Thursday': 20,
 'Friday': 21,
 'Saturday': 22}