In [6]:
# Write a Python program to check if a given number is an integer or a float.
input_user = input('Kuch bhi daldo bhai: ')

try:
    if '.' in input_user:
        input_value = float(input_user)
        print('Float')
    else:
        input_value = int(input_user)
        print('Integer')
except ValueError:
    print('String')

Kuch bhi daldo bhai:  12.4

Float

In [7]:
# Write a program to reverse a string in Python.
input_user = input('Enter the string: ')

reverse = input_user[::-1]

print(reverse)

Enter the string:  ravi

ivar

In [9]:
# Find the length of a list without using len()
def find_len(lst):
    len = 0
    for i in lst:
        len  = len + 1
    return len


l = [1,2,3,4,5,6,7]
find_len(l)

7

In [10]:
#  Reverse a list using slicing.
l = [2,3,4,6,5,8,7,9]
l[::-1]

[9, 7, 8, 5, 6, 4, 3, 2]

In [11]:
# . Append elements to a list
name = ['ravi', 'radhe', 'veer']
name.append('shweta')
name

['ravi', 'radhe', 'veer', 'shweta']

In [13]:
#  Remove duplicates from a list
l = [1,2,1,3,4,5,6,7,3,4,5,8,9]

l = set(l)

l

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
l = [1,2,3,4,2,1,5,6]
res = []

l = [res.append(item) for item in l if item not in res]
res

[1, 2, 3, 4, 5, 6]

In [18]:
# Sort a list in ascending order.
list = [5,4,3,2,1]
list.sort()
list

[1, 2, 3, 4, 5]

In [24]:
#  Find the largest element in a list using a loop.
l = [1,2,5,4,8,7,3,6]

largest = l[0]

for i in range(1, len(l)):
    
    # program for largest number
    if l[i] > largest:
        largest = l[i]

print(largest)

8

In [25]:
# Remove an element from a list using index.
l = [1,2,5,4,8,7,3,6]
del l[-1]
l

[1, 2, 5, 4, 8, 7, 3]

In [26]:
l.pop(0)
l

[2, 5, 4, 8, 7, 3]

In [28]:
# Unpack a tuple into variables.
x, y, z = (1,5,10)
print(x,y,z)

1 5 10

In [29]:
x, *z = (1,2,3,4,5)
print(x)
print(z)

1
[2, 3, 4, 5]

In [30]:
len(z)

4

In [31]:
# Check if an element exists in a tuple 
4 in z

True

In [37]:
# Slice a tuple to get a portion of it
tup = tuple[1,2,3,4,5,6,7,8]
type(tup)

types.GenericAlias

In [40]:
tup = (1,2,3,4,5,6,7,8)
tup[2:5:]

(3, 4, 5)

In [41]:
# Find the index of an element in a tuple.
tup.index(2)

1

In [42]:
#  Add an element to a set
s1 = {1,2,3,4}
s1.add(5)
s1

{1, 2, 3, 4, 5}

In [43]:
s1.update([6,7,8])
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
#  Remove an element from a set.
s1.remove(2)
s1

{1, 3, 4, 5, 6, 7, 8}

In [48]:
# Find the union of two sets
s1 = {1,2,3}
s2 = {3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [46]:
s2

{3, 4, 5}

In [47]:
s1 | s2

{1, 2, 3, 4, 5}

In [49]:
#  Find the intersection of two sets.
s1.intersection(s2)

{3}

In [51]:
# Remove duplicates from a list using a set.
l1 = [1,2,3,3,2,1]
l1 = set(l1)
l1

{1, 2, 3}

In [52]:
# Clear all elements from a set
s = {1,2,3}
s.clear()
s

set()

In [53]:
#  Access the value associated with a key.
dict = {
    'name': 'Ravi',
    'gender': 'Male',
    'age': 21,
    'DOB': '18 April 2004'
}

dict['name']

'Ravi'

In [54]:
dict['Location'] = 'Nashik - 422010'
dict

{'name': 'Ravi',
 'gender': 'Male',
 'age': 21,
 'DOB': '18 April 2004',
 'Location': 'Nashik - 422010'}

In [55]:
# Remove a key-value pair from a dictionary
del dict['age']
dict

{'name': 'Ravi',
 'gender': 'Male',
 'DOB': '18 April 2004',
 'Location': 'Nashik - 422010'}

In [56]:
dict.remove('Location')
dict

AttributeError: 'dict' object has no attribute 'remove'

In [57]:
dict.pop('Location')
dict

{'name': 'Ravi', 'gender': 'Male', 'DOB': '18 April 2004'}

In [58]:
# Check if a key exists in a dictionary
'gender' in dict

True

In [60]:
# Merge two dictionaries into one
dict1 = {
    'name': 'Ravii',
    'gender': 'Male'
}

dict2 = {
    'age': 22,
    'dob': '18 April 2004'
}

dict1.update(dict2)

In [61]:
dict1

{'name': 'Ravii', 'gender': 'Male', 'age': 22, 'dob': '18 April 2004'}

In [62]:
dict1.keys()

dict_keys(['name', 'gender', 'age', 'dob'])

In [63]:
dict1.values()

dict_values(['Ravii', 'Male', 22, '18 April 2004'])

In [64]:
len(dict1)

4